[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pieter/Desktop/libreoffice-writer.desktop]
row=2
col=0

[/home/pieter/Desktop/libreoffice-calc.desktop]
row=2
col=1

[/home/pieter/Desktop/mintinstall.desktop]
row=4
col=1

[/home/pieter/Desktop/libreoffice-impress.desktop]
row=2
col=3

[/home/pieter/Desktop/libreoffice-startcenter.desktop]
row=2
col=4

[/home/pieter/Desktop/libreoffice-draw.desktop]
row=2
col=2

[/home/pieter/Desktop/google-chrome.desktop]
row=0
col=0

[/home/pieter/Desktop/bluemail_bluemail.desktop]
row=0
col=1

[/home/pieter/Desktop/nm-connection-editor.desktop]
row=4
col=0
